html,
body,
div {
  font-family: $text-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

* {
  box-sizing: border-box;
}
html {
  background: $background-color;
}

h1,
h2,
h3 {
  font-family: $display-font;
  font-weight: bold;
}

h1 {
  line-height: 48px;
}

.app {
  width: $app-width;
  margin: 0 auto;
  padding: 0 12px;
}

a {
  @include link-underline;
}

.button {
  @include button;
}

.section {
  margin-bottom: 24px;
}

.the-word {
  font-weight: bold;
  font-family: $display-font;
}

.pronunciation {
  display: inline-block;
  font-family: $display-font;
}

.audio-container {
  margin-bottom: 24px;
  .vowel-in-word {
    display: inline-block;
    margin-right: 2px;
  }
  .audio-icon {
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
  }
}

.key-container {
  position: relative;
}

.key {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
}

.definition {
  margin-left: 16px;
}

.search {
  position: relative;
  margin-bottom: 24px;
  input {
    margin-bottom: 24px;
    display: inline-block;
    height: 48px;
    width: 100%;
    padding: 0 24px;
    background: transparent;
    line-height: 48px;
    font-size: $base-font-size;
    font-family: $text-font;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    color: $black;
    border: 0;
    box-shadow: 1px 1px 6px #ccc;
    border-radius: 24px;

    &::placeholder {
      font-size: 16px;
      color: $gray;
    }
  }
}

@media (max-width: $app-width) {
  .app {
    width: 100%;
    padding: 0 8px;
  }
  .wrapper {
    margin: 0;
  }
}
