html,
body,
div {
  font-family: $text-font;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}
html {
  background: $background-color;
}
.app {
  width: $app-width;
  margin: 24px auto 32px auto;
}

.set {
  margin-bottom: 16px;
}
.uppercase {
  text-transform: uppercase;
}

p {
  font-family: $text-font;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

h1 {
  font-family: $display-font;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 8px;
}

h2 {
  font-family: $display-font;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 8px;
}

h3 {
  font-family: $display-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}
