html,
body,
div {
  font-family: $text-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

* {
  box-sizing: border-box;
}
html {
  background: $background-color;
}
.app {
  width: $app-width;
  margin: 0 auto;
  padding: 0 12px;
  border-left: 1px solid pink;
  height: 100vh;
}

.set {
  margin-bottom: 16px;
}
.uppercase {
  text-transform: uppercase;
}

p {
  font-family: $text-font;
}

h1,
h2,
h3 {
  font-family: $display-font;
  font-weight: bold;
}
